/target/
/bin/
/log.txt
/db_connect_info.txt
/build_movie_and_show_index.txt
/log_extract_pgs.txt
/log_movies_and_shows_mongodb.txt
/log_probe_directories.txt
/log_delete_duplicative_sup_files.txt
/log_movies_and_shows_mongodb.txt.1
/log_movies_and_shows_mongodb.txt.1.lck
/log_movies_and_shows_mongodb.txt.2
/log_movies_and_shows_mongodb.txt.2.lck
/log_movies_and_shows_mongodb.txt.3
/log_movies_and_shows_mongodb.txt.4
/log_movies_and_shows_mongodb.txt.5
/log_movies_and_shows_mongodb.txt.6
/log_movies_and_shows_mongodb.txt.6.lck
/log_movies_and_shows_mongodb.txt.lck
/workflow_orchestrator_log.txt
/workflow_orchestrator_log.txt.1
/workflow_orchestrator_log.txt.1.lck
/workflow_orchestrator_log.txt.2
/workflow_orchestrator_log.txt.2.lck
/workflow_orchestrator_log.txt.3
/workflow_orchestrator_log.txt.4
/workflow_orchestrator_log.txt.5
/workflow_orchestrator_log.txt.6
/workflow_orchestrator_log.txt.6.lck
/workflow_orchestrator_log.txt.lck
/log2.txt
/*log*.txt
